.content-meta {
  margin-top: 0.5rem;
  font-size: 0.78rem;
  color: var(--gray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }
}
